.nyan-running {
  height: 20px;
  position: absolute;
  top: -5px;
  left: -15px;
}

.rainbow {
  position: absolute;
  top: -8px;
  height: 20px;
  width: 100%;
  left: -7px;
}

.night-sky {
  position: absolute;
  height: 18px;
  top: -7px;
  width: 100%;
}

.main-rainbow {
  position: absolute;
  top: -4px;
  height: 10px;
  width: inherit;
}
